OPENAI_KEY=""
OPENAI_ORG_ID=""
# Good and inexpensive for testing.
OPENAI_GPT_MODEL="gpt-4o-mini"
# For Prod.
#OPENAI_GPT_MODEL="gpt-4"

PHP_VERSION=8.3

ANTHROPIC_KEY=""
ANTHROPIC_MODEL="claude-3-5-haiku-20241022"
#ANTHROPIC_MODEL="claude-3-5-sonnet-20241022"
ANTHROPIC_VERSION="2023-06-01"
